# Overseerr is a request management and media discovery tool
# https://hub.docker.com/r/linuxserver/overseerr
services:
  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./overseerr:/config
    ports:
      - 5055:5055
    restart: unless-stopped
    networks:
      - myservernet
networks:
  myservernet:
    external: true
